# Dependency folders
node_modules/
.pnp
.pnp.js

# Next.js build output
.next/
out/

# Local environment variables (Crucial for security)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Database files
/apps/backend/prisma/dev.db
/apps/backend/prisma/dev.db-journal

# System files
.DS_Store
*.log
